body {
  font-family: Roboto, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.page-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.hero__base-button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.hero__base-button:hover, .hero__base-button:focus {
  background-color: #188ce8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.base-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.base-section--hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.png");
  background-size: cover;
  background-color: #c4c4c4;
  color: #ffffff;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.header-content {
  border-bottom: solid 1px;
  border-bottom-color: #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list__link {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link--current {
  color: #2196f3;
}

.nav-list__link--current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-decoration: none;
}

.header-content__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
}

.logo__text-blue {
  color: #2196f3;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__contact {
  display: inline-flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
}

.contacts-list__contact:hover, .contacts-list__contact:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__contact:hover .contacts-list__item-icon, .contacts-list__contact:focus .contacts-list__item-icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item-icon {
  fill: #757575;
  margin-right: 10px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features__list-item {
  width: calc((100% - 4 * 30px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.features__list-item::before {
  content: '';
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: 50% 50%;
}

.features__list-item--with-antenna::before {
  background-image: url("../images/antenna.svg");
}

.features__list-item--with-clock::before {
  background-image: url("../images/clock.svg");
}

.features__list-item--with-diagram::before {
  background-image: url("../images/diagram.svg");
}

.features__list-item--with-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.features__list-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.features__list-item-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.base-section--services {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.services-list__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 3 * 30px) / 3);
}

.services-list__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.base-section--team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  width: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list_item-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
}

.team-list__item-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-list__item-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: #757575;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  display: flex;
}

.social-links__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
}

.social-links__item-link:hover, .social-links__item-link:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item-link:hover .social-links__item-icon, .social-links__item-link:focus .social-links__item-icon {
  background-color: #2196f3;
  fill: #ffffff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.regular-customers {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers__list-item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 6 * 30px) / 6);
}

.regular-customers__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.regular-customers__item-link:hover, .regular-customers__item-link:focus {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__item-link:hover .regular-customers__item-logo, .regular-customers__item-link:focus .regular-customers__item-logo {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  background-color: #2f303a;
}

.footer-content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /*test*/
}

.footer-content_left-side {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: calc((100% - 30px) / 2);
}

.footer-content_right-side {
  width: calc((100% - 30px) / 2);
}

.footer-content_left-side-left-part {
  width: calc((100% - 30px) / 2);
  /* margin-right: 86px; */
}

.footer-content__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.address-text {
  margin-top: 0;
  font-style: normal;
}

.address-text_info {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts-list__item-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.footer-contacts-list__item-link:hover, .footer-contacts-list__item-link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  margin-bottom: 6px;
}

.footer-content_left-side-right-part {
  width: calc((100% - 30px) / 2);
}

.footer-content_left-side-right-part-accept {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
}

.footer-social-links {
  display: flex;
}

.footer-social-links_item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-links_item-link:hover, .footer-social-links_item-link:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links_item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links_item-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-content_right-side-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #757575;
  background-color: transparent;
  color: #ffffff;
}

.footer-form__input:focus {
  outline: none;
  color: #ffffff;
  border: 1px solid #2196f3;
  background-color: transparent;
}

.footer-form__input:focus:not(:placeholder-shown):invalid {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.footer-form__input:focus:not(:placeholder-shown):valid {
  border: 1px solid rgba(0, 255, 0, 0.3);
}

.footer-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-form__base-button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
}

.footer-form__base-button:hover, .footer-form__base-button:focus {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #188ce8;
}

.footer-form__base-button::after {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.examples-filter__item:not(:last-child) {
  margin-right: 8px;
}

.examples-filter__base-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
}

.examples-filter__base-button:hover, .examples-filter__base-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: -30px;
  margin-top: -30px;
}

.examples-list__item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 3 * 30px) / 3);
}

.examples-list__item-link {
  display: block;
  text-decoration: none;
}

.examples-list__item-link:hover, .examples-list__item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list__item-link:hover .examples-list__item-hint, .examples-list__item-link:focus .examples-list__item-hint {
  transform: translatey(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list__item-image-wrapper {
  overflow: hidden;
  position: relative;
}

.examples-list__item-image {
  width: 370px;
}

.examples-list__item-hint {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  line-height: 1.56;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.examples-list__item-description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.examples-list__item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-list__item-category {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover .close-btn__icon {
  fill: #2196f3;
}

.close-btn__icon {
  width: 11px;
  height: 11px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.modal-form__header {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__field + .modal-form__field {
  margin-top: 10px;
}

.modal-form__field-content {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form__field-icon {
  fill: #2196f3;
}

.modal-form__input:focus:not(:placeholder-shown):invalid {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.modal-form__input:focus:not(:placeholder-shown):valid {
  border: 1px solid rgba(0, 255, 0, 0.3);
}

.modal-form__field-icon {
  position: absolute;
  top: 25%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal-form__message {
  display: block;
  resize: none;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form__message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__message::placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-link {
  color: #2196f3;
}

/* =============================================CUSTOM CHECKBOX========================================== */
.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  /* line-height: 1.71; */
  line-height: 1;
  color: #757575;
}

.modal-form__checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  background-image: url("../images/icon-checkbox.svg");
  background-color: #2196f3;
  border: transparent;
}

.modal-form__checbox-wrapper {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__checkbox {
  position: absolute;
  bottom: 0;
  left: 10px;
}

/* =============================================CUSTOM CHECKBOX========================================== */
.modal-form__base-button {
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 56px;
  padding-bottom: 10px;
  padding-left: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__base-button:hover, .modal-form__base-button:focus {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */