@import 'utils/variables';
@import 'base/normalization-tegs';
@import 'base/container';
@import 'utils/visualy-hidden';
@import 'components/buttons';
@import 'base/sections';
@import 'layout/sec-hero';
@import 'base/titles';
@import 'layout/header';
@import 'components/navigator';
@import 'components/logo';
@import 'components/contacts';
@import 'layout/sec-features';
@import 'layout/sec-services';
@import 'layout/sec-team';
@import 'layout/sec-regular-customers';
@import 'layout/footer';
@import 'components/footer-form';
@import 'layout/sec-examples';
@import 'components/modal-form';
