.base-section--services {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.services-list__item {
  position: relative;

  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 3 * 30px) / 3);
}

.services-list__title {
  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $main-white;
  background-color: rgba(47, 48, 58, 0.8);
}
