.regular-customers {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers__list-item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 6 * 30px) / 6);
}

.regular-customers__item-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $main-icons;

  &:hover,
  &:focus {
    border-color: $main-blue;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & .regular-customers__item-logo {
      fill: $main-blue;

      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.regular-customers__item-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: $main-icons;
}
