$main-blue: #2196f3;
$main-icons: #afb1b8;
$hover-blue: #188ce8;
$main-white: #ffffff;
$main-black: #212121;
$logo-black: #000000;
$main-gray: #757575;
$background-sahara: #f5f4fa;
$background-black: #2f303a;
$background-hero: #c4c4c4;
$background-social: rgba(255, 255, 255, 0.1);
$black-alfa-02: rgba(33, 33, 33, 0.2);
$black-alfa-05: rgba(117, 117, 117, 0.5);
$header-line-color: #ececec;
